#details {
  position: relative;
  z-index: 1;

  color: var(--text-primary);
  font-weight: bold;
  text-transform: uppercase;

  transform: translateY(0);

  transition: transform 0.3s linear;

  &.open {
    transform: translateY(-90%);

    @media only screen and (min-width: 768px) {
      transform: translateY(-100%);
    }
    @media only screen and (min-width: 1280px) {
      transform: translateY(-115%);
    }
  }

  #time-details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 3rem /* 48px */;

    @media only screen and (min-width: 768px) {
      gap: /* 80px */ 5rem;
    }

    @media only screen and (min-width: 1280px) {
      flex-direction: row;
      align-items: end;
      justify-content: space-between;
    }

    .time {
      display: flex;
      flex-direction: column;
      gap: 1rem /* 16px */;

      figure {
        display: flex;
        align-items: center;
        gap: 1rem /* 16px */;

        font-size: 0.938rem /* 15px */;
        line-height: 1.563rem /* 25px */;
        letter-spacing: 0.188rem /* 3px */;
        font-weight: normal;
        span {
          display: none;
        }

        @media only screen and (min-width: 768px) {
          font-size: /* 18px */ 1.125rem;
          line-height: /* 28px */ 1.75rem;
          letter-spacing: /* 3.6px */ 0.225rem;
          span {
            display: inline;
          }
        }
        @media only screen and (min-width: 1280px) {
          font-size: /* 20px */ 1.25rem;
          letter-spacing: /* 4px */ 0.25rem;
        }
      }

      h1 {
        font-size: 6.25rem /* 100px */;
        line-height: 6.25rem /* 100px */;
        letter-spacing: -0.156rem /* -2.5px */;

        #bst {
          font-size: 0.938rem /* 15px */;
          line-height: 1.75rem /* 28px */;
          letter-spacing: 0px;
          font-weight: lighter;
        }
      }
      h2 {
        font-size: 0.938rem /* 15px */;
        line-height: 1.75rem /* 28px */;
        letter-spacing: 0.188rem /* 3px */;
      }

      @media only screen and (min-width: 768px) {
        h1 {
          font-size: /* 175px */ 10.938rem;
          line-height: /* 175px */ 10.938rem;
          letter-spacing: /* -4.38px */ -0.275rem;
          #bst {
            font-size: /* 32px */ 2rem;
            line-height: /* 28px */ 1.75rem;
          }
        }
        h2 {
          font-size:/* 18px */ 1.125rem;
          letter-spacing: /* 3.6px */ 0.225rem;
        }
      }
      @media only screen and (min-width: 1280px) {
        h1 {
          font-size: /* 200px */ 12.5rem;
          line-height: /* 200px */ 12.5rem;
          letter-spacing: /* -5px */ -0.313rem;
          #bst {
            font-size: /* 40px */ 2.5rem;
          }
        }
        h2 {
          font-size:/* 24px */ 1.5rem;
          letter-spacing: /* 4.8px */ 0.3rem;
        }
      }
    }

    button {
      background-color: var(--text-primary);

      border-radius: 1.75rem /* 28px */;

      width: fit-content;
      display: flex;
      align-items: center;
      gap: 0.938rem /* 15px */;

      padding: 0.25rem /* 4px */;
      padding-left: 1.063rem /* 17px */;

      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.5);
      font-size: 0.75rem /* 12px */;
      line-height: 0.875rem /* 14px */;
      letter-spacing: 0.234rem /* 3.75px */;
      font-weight: bold;

      span {
        background-color: #303030;
        border-radius: 50%;

        padding: 0.8rem 0.7rem /* 14px 11px */;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: rotate(0deg);
        transition: transform 0.5s linear;

        &.open {
          transform: rotate(180deg);
        }
      }
    }
  }

  #zone-details {
    background-color: var(--zone-bg);

    backdrop-filter: blur(40.77px);
    -webkit-backdrop-filter: blur(40.77px); /* Safari support */

    color: var(--zone-text-color);

    padding: 3rem /* 48px */ 1.625rem /* 26px */;
    position: absolute;

    top: calc(100% + var(--app-padding-bottom));
    left: calc(0px - var(--app-padding-inline));
    right: calc(0px - var(--app-padding-inline));

    display: flex;
    flex-direction: column;
    gap: 1rem /* 16px */;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem /* 16px */;

      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem /* 16px */;

        p {
          font-size: 0.625rem /* 10px */;
          line-height: 1.75rem /* 28px */;
          letter-spacing: 0.125rem /* 2px */;
          font-weight: normal;
        }

        h3 {
          text-transform: capitalize;
          font-size: /* 20px */ 1.25rem;
        }

        @media only screen and (min-width: 768px) {
          p {
            font-size: 0.813rem /* 13px */;
            letter-spacing: /* 2.6px */ 0.163rem;
          }
          h3 {
            font-size: /* 40px */ 2.5rem;
          }
        }
        @media only screen and (min-width: 1280px) {
          p {
            font-size: /* 15px */ 0.938rem;
            letter-spacing: /* 3px */ 0.188rem;
          }
          h3 {
            font-size: /* 56px */ 3.5rem;
          }
        }
      }
    }

    @media only screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: start;

      gap: 5.063rem /* 81px */;

      padding: 7.438rem 4rem /* 119px 64px */;

      .wrapper .info {
        flex-direction: column;
        align-items: start;
        gap: 0px;
      }
    }

    @media only screen and (min-width: 1280px) {
      padding: /* 74px 165px */ 4.625rem 10.313rem;
      gap: /* 147px */ 9.188rem;
      .wrapper:last-of-type {
        border-left: 1px solid var(--zone-border-left-color);
        padding-left: /* 94px */ 5.875rem;
      }
    }
  }
}
